language: bash
sudo: required

branches:
  only:
    - master

services:
  - docker
  
addons:
  apt:
    packages:
      - doxygen

before_install:
- ls -l
- docker pull jalaimo/nachos-build
- docker run -d -v $(pwd):/tacos --name guacamole jalaimo/nachos-build bash -c 'tail -f /dev/null'
- docker ps -a
#- docker exec -it guacamole bash -c 'cd /tacos && GIT_INIT_COMMIT=a8550946e865bff4dd452841e71b23387243de51'
- docker exec -it guacamole bash -c 'ls -la'
- docker exec -it guacamole bash -c 'cd /tacos && ls -la'
- docker exec -it guacamole bash -c 'cd /tacos && git rev-list --max-parents=0 HEAD'


script:
  - docker exec -it guacamole bash -c 'cd /tacos/code && make && cd build && ./nachos-userprog -x halt > /proc/1/fd/1'
  - cat /proc/1/fd/1
  - doxygen Doxyfile

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master
