language: bash
sudo: required

branches:
  only:
    - master

services:
  - docker
  
addons:
  apt:
    packages:
      - doxygen

before_install:
- ls -l
- docker pull jalaimo/nachos-build
- docker run -d -v $(pwd):/tacos --name guacamole jalaimo/nachos-build bash -c 'tail -f /dev/null'
- docker ps -a

script:
  - docker exec -it guacamole bash -c 'cd /tacos/code && make && cd build && ./nachos-step2 -x putchar > /tacos/test'
  - cat test
  - doxygen Doxyfile

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: master
